@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

[epub|type~="dedication"]{
	font-style: italic;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

section[epub|type~="dedication"]{
	margin: 25% auto;
	max-width: 50%;
}

section[epub|type~="dedication"] p{
	text-align: left;
	text-indent: 0;
}
